* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-text-color: hsl(232, 17%, 35%);
    --text-color: hsl(274, 84%, 12%);
    --bc-heading: hsl(218, 17%, 62%);
    --mid-color: hsl(275, 18%, 79%);
    --bc-main-color: hsl(233, 100%, 97%);
    --ice-cream-color: hsl(312, 91%, 96%);

    --ff-title: 'Staatliches', cursive;
    --ff-texts: 'Palanquin', sans-serif;

    font-size: 62.5%;
    --fs-body: 1.6rem;

}

body {
    background-color: var(--bc-main-color);
    font-size: var(--fs-body);
}

.page {
    max-width: clamp(38.4rem, 28rem + 60vw, 70.0rem);
    margin: 0 auto;
}

header {
    background-color: var(--bc-heading);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.2rem 0 2.9rem;
    gap: 3.2rem;
}

header img {
    width: 13.7rem;
    height: auto;
}

header h1 {
    color: white;
    font-family: var(--ff-title);
    font-weight: 400;
    font-size: 4.0rem;
    line-height: 3.4rem;
    background-color: var(--mid-color);
    width: 100%;
    text-align: center;
    padding: 0.8rem 0;
}

main {
    padding: 0 3.2rem;
}

main p {
    margin-top: 1.4rem;
    
    font-family: var(--ff-texts);
    font-size: 2.0rem;
    line-height: 1.5rem;
    font-weight: 400;

    color: var(--text-color);
    text-align: center;
    margin-bottom: 6.3rem;
}

.card {
    font-family: var(--ff-title);
    position: relative;
    margin-bottom: 3.6rem;
}

.card img {
    width: 100%;
    height: auto;

    transition: 400ms;
    animation: downtop 400ms;
}

.card img:hover {
    transform: scale(1.1);
}

.card h2 {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    font-family: var(--ff-title);
    color: var(--dark-text-color);
    font-size: 2.0rem;
    line-height: 3.4rem;
    font-weight: 400;

    background-color: var(--ice-cream-color);
    border-radius: 2.0rem;
    padding: 1px 2.4rem;

    animation: topdown 400ms 200ms backwards;
}



@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downtop {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}